# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code / Rider
.vscode/
.idea/

# Visual Studio specific
*.vs/
.vs/

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
*.dnu.json

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Logs
*.log

# Others
*.tmp
*.bak
*.cache
*.swp
*.DS_Store
*.db

# Publish
publish/
